@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

html {
  scrollbar-gutter: stable;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  background-color: #1a1a1a;
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}
